name: E2E Tests

on:
  push:
    branches:
      - main

env:
  THALASSA_ORGANISATION_ID: "o-d5obcgg3fspc73f7vqpg"
  THALASSA_SERVICE_ACCOUNT_ID: "sa-d5obd77ua50s73ab91ig"

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    strategy:
      matrix:
        go-version: ["1.24"]
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
      - name: Get OIDC Token
        id: oidc
        uses: actions/github-script@v7
        with:
          script: |
            const token = await core.getIDToken();
            core.setOutput('token', token);

      - name: Exchange OIDC Token
        id: auth
        run: |
          # Exchange GitHub OIDC token for Thalassa Cloud bearer token
          RESPONSE=$(curl -X POST https://api.thalassa.cloud/oidc/token \
            -H "Content-Type: application/x-www-form-urlencoded" \
            -d "grant_type=urn:ietf:params:oauth:grant-type:token-exchange" \
            -d "subject_token=${{ steps.oidc.outputs.token }}" \
            -d "subject_token_type=urn:ietf:params:oauth:token-type:id_token" \
            -d "organisation_id=${{ env.THALASSA_ORGANISATION_ID }}" \
            -d "service_account_id=${{ env.THALASSA_SERVICE_ACCOUNT_ID }}")
          THALASSA_ACCESS_TOKEN=$(echo "$RESPONSE" | jq -r '.access_token')
          echo "THALASSA_ACCESS_TOKEN=$THALASSA_ACCESS_TOKEN" >> $GITHUB_ENV

      # setup gotestsum
      - name: Setup gotestsum
        run: go install gotest.tools/gotestsum@latest
      - name: Run E2E tests
        run: make test-e2e
